<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- Add Fediverse link for verification in Fediverse -->
<link rel="me" href="https://fosstodon.org/@bennysp" />
<link rel="me" href="https://friendica.world/profile/bennysp" />


<!-- end custom head snippets -->
